!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Converted mash files
t/data/PNUSAL003567_R1_.fastq.gz.msh.json
t/data/PNUSAL003567_R1_.fastq.gz.msh.json.gz
t/data/PNUSAL003567_R2_.fastq.gz.msh.json
t/data/PNUSAL003567_R2_.fastq.gz.msh.json.gz

# source files for mash and capnproto
bin/Mash*
lib/capnproto*/

